.DS_Store
.idea
/dependencies
/dist
out/
/tmp
workspace.xml
.gradle/
build/
!service/src/**/build
!**/test/**/build
*.iml
!**/testData/**/*.iml
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/artifacts
.idea/modules
.idea/runConfigurations/JPS_*.xml
.idea/libraries
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.name
.project
.settings
.classpath
.vscode
**/bin/**

#generated code
/codegen/src/test/resources/sources/
